body {
  color: #0f84ac;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}

h1 {
  color: #0f84ac;
  text-align: center;
  font-size: 50px;
  padding: 0 auto;
  margin: 0 auto;
}

h2 {
  color: #ff7901;
}

.weather-app {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 20px;
}

.small {
  cursor: pointer;
}

li {
  color: #0f84ac;
  text-align: inherit;
  list-style: none;
  margin: -5px;
  padding: -5px;
  font-size: 20px;
  width: 700px;
}

li:first-child {
  width: 85px;
  position: relative;
  top: -2px;
  left: 310px;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-app img {
  height: 64px;
  width: 64px;
  position: relative;
  top: -15px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 80px;
  position: relative;
  top: -1px;
}
.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
  top: -5px;
}
.mb-3 {
  width: 70%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
